In [1]:
#Задания 1-2

In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix

In [3]:
df = pd.read_csv('data_banknote_authentication.csv')
df.sample(5)

      variance  skewness  curtosis  entropy  class
1225   -6.5235   9.60140  -0.25392 -6.96420      1
975    -3.0799   0.60836   2.70390 -0.23751      1
376     3.2303   7.83840  -3.53480 -1.21510      0
754     2.3969   0.23589   4.84770  1.43700      0
201     4.0026  -3.59430   3.55730  0.26809      0

In [4]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [5]:
df

      variance  skewness  curtosis  entropy  class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variance  1372 non-null   float64
 1   skewness  1372 non-null   float64
 2   curtosis  1372 non-null   float64
 3   entropy   1372 non-null   float64
 4   class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [7]:
df.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [8]:
X = df[['variance', 'skewness', 'curtosis', 'entropy']]
Y = df['class']

In [9]:
Y.value_counts()

0    762
1    610
Name: class, dtype: int64

In [10]:
classes_counts = Y.value_counts()
classes_counts / np.sum(classes_counts) * 100

0    55.539359
1    44.460641
Name: class, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train[:5]

array([[ 0.89967493,  1.18805208, -1.18171152, -0.09274226],
       [ 0.79132601,  1.52427784, -1.12635383, -1.42833711],
       [-1.4620017 , -1.74354285,  2.08102182,  0.74693093],
       [ 1.16581047, -0.98729225,  0.45528455,  0.56204943],
       [-0.67271772, -1.57668249,  1.51805865,  1.15257286]])

In [13]:
X_test[:5]

array([[-0.76517219, -2.16818315,  2.06117264,  0.08470905],
       [ 1.65702967, -0.32620747, -0.25430981,  1.09815637],
       [-0.85064433,  0.31179928, -0.78440011, -1.29602567],
       [ 0.37856154,  0.30150455,  0.44365124,  0.79887046],
       [ 1.71130939,  0.23795178, -0.65182252,  1.12287809]])

In [14]:
def accuracy(Y_true, Y_pred):
    true_sum = np.sum(Y_true == Y_pred)
    n = len(Y_true)
    return true_sum / n

def get_precision_and_recall(Y_test, Y_pred):
    cm = confusion_matrix(Y_test, Y_pred)
    precision = cm[0][0] / (cm[0][0] + cm[0][1])
    recall = cm[0][0] / (cm[0][0] + cm[1][0])
    return precision, recall

def get_f1_score(Y_test, Y_pred):
    p, r = get_precision_and_recall(Y_test, Y_pred)
    F1 = 2 * (p*r)/(p+r)
    return F1

from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=42)
model.fit(X_train, Y_train)
Y_pred = model.predict(X_test)
acc = accuracy(Y_test, Y_pred)
print(f"Model accuracy is: {acc*100:.2f}%")
pre, rec = get_precision_and_recall(Y_test, Y_pred)
print(f"Model P and R is: {pre} {rec}")
F1_score = get_f1_score(Y_test, Y_pred)
print(f"Model F1 score is: {F1_score}")

Model accuracy is: 97.96%
Model P and R is: 0.9641025641025641 1.0
Model F1 score is: 0.9817232375979111

In [15]:
def accuracy(Y_true, Y_pred):
    true_sum = np.sum(Y_true == Y_pred)
    n = len(Y_true)
    return true_sum / n

def get_precision_and_recall(Y_train, Y_pred):
    cm = confusion_matrix(Y_train, Y_pred)
    precision = cm[0][0] / (cm[0][0] + cm[0][1])
    recall = cm[0][0] / (cm[0][0] + cm[1][0])
    return precision, recall

def get_f1_score(Y_train, Y_pred):
    p, r = get_precision_and_recall(Y_train, Y_pred)
    F1 = 2 * (p*r)/(p+r)
    return F1

from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=42)
model.fit(X_train, Y_train)
Y_pred = model.predict(X_train)
acc = accuracy(Y_train, Y_pred)
print(f"Model accuracy is: {acc*100:.2f}%")
pre, rec = get_precision_and_recall(Y_train, Y_pred)
print(f"Model P and R is: {pre} {rec}")
F1_score = get_f1_score(Y_train, Y_pred)
print(f"Model F1 score is: {F1_score}")

Model accuracy is: 98.25%
Model P and R is: 0.9717813051146384 0.9963833634719711
Model F1 score is: 0.9839285714285715