In [1]:
#Задания 1-2

In [2]:
#!pip install scikit-learn

In [3]:
import pandas as pd
import numpy as np
np.random.seed(42)

In [4]:
df = pd.read_csv("imports-85.data.csv")

In [5]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Unnamed: 26
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,NaN
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,NaN
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,NaN
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,NaN
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,NaN
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,NaN
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,NaN
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,26,27,22470,NaN
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           205 non-null    int64
 1   normalized-losses   205 non-null    object
 2   make                205 non-null    object
 3   fuel-type           205 non-null    object
 4   aspiration          205 non-null    object
 5   num-of-doors        205 non-null    object
 6   body-style          205 non-null    object
 7   drive-wheels        205 non-null    object
 8   engine-location     205 non-null    object
 9    wheel-base         205 non-null    float64
 10   length             205 non-null    float64
 11   width              205 non-null    float64
 12   height             205 non-null    float64
 13   curb-weight        205 non-null    int64
 14   engine-type        205 non-null    object
 15   num-of-cylinders   205 non-null    object
 16   engine-size        205 non-null    int64
 17   fuel-system        205 non-null    object
 18   bore               205 non-null    object
 19   stroke             205 non-null    object
 20   compression-ratio  205 non-null    float64
 21   horsepower         205 non-null    object
 22   peak-rpm           205 non-null    object
 23   city-mpg           205 non-null    int64
 24   highway-mpg        205 non-null    int64
 25    price             205 non-null    object
 26  Unnamed: 26         0 non-null      float64
dtypes: float64(6), int64(5), object(16)
memory usage: 43.4+ KB

In [7]:
df = df.drop(np.where(df['normalized-losses'] == "?")[0])
df = df.drop(np.where(df[' bore'] == "?")[0])
df = df.drop(np.where(df[' stroke'] == "?")[0])

In [8]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Unnamed: 26
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,NaN
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,NaN
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,mpfi,3.19,3.40,8.5,110,5500,19,25,17710,NaN
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,mpfi,3.13,3.40,8.3,140,5500,17,20,23875,NaN
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,mpfi,3.50,2.80,8.8,101,5800,23,29,16430,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,NaN
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,NaN
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,NaN
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,26,27,22470,NaN
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,NaN

In [9]:
df = df.drop(['make', 'fuel-type', 'aspiration',
                'num-of-doors', 'body-style',
                'drive-wheels', 'engine-location',
                ' engine-type', ' num-of-cylinders',
                ' fuel-system', ' bore', ' stroke'], axis='columns')

In [10]:
df

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Unnamed: 26
3,2,164,99.8,176.6,66.2,54.3,2337,109,10.0,102,5500,24,30,13950,NaN
4,2,164,99.4,176.6,66.4,54.3,2824,136,8.0,115,5500,18,22,17450,NaN
6,1,158,105.8,192.7,71.4,55.7,2844,136,8.5,110,5500,19,25,17710,NaN
8,1,158,105.8,192.7,71.4,55.9,3086,131,8.3,140,5500,17,20,23875,NaN
10,2,192,101.2,176.8,64.8,54.3,2395,108,8.8,101,5800,23,29,16430,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,109.1,188.8,68.9,55.5,2952,141,9.5,114,5400,23,28,16845,NaN
201,-1,95,109.1,188.8,68.8,55.5,3049,141,8.7,160,5300,19,25,19045,NaN
202,-1,95,109.1,188.8,68.9,55.5,3012,173,8.8,134,5500,18,23,21485,NaN
203,-1,95,109.1,188.8,68.9,55.5,3217,145,23.0,106,4800,26,27,22470,NaN
204,-1,95,109.1,188.8,68.9,55.5,3062,141,9.5,114,5400,19,25,22625,NaN

In [11]:
df.to_csv('cars_nums.csv')

In [12]:
df = pd.read_csv("cars_nums.csv")

In [13]:
df

,Unnamed: 0,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Unnamed: 26
0,3,2,164,99.8,176.6,66.2,54.3,2337,109,10.0,102,5500,24,30,13950,NaN
1,4,2,164,99.4,176.6,66.4,54.3,2824,136,8.0,115,5500,18,22,17450,NaN
2,6,1,158,105.8,192.7,71.4,55.7,2844,136,8.5,110,5500,19,25,17710,NaN
3,8,1,158,105.8,192.7,71.4,55.9,3086,131,8.3,140,5500,17,20,23875,NaN
4,10,2,192,101.2,176.8,64.8,54.3,2395,108,8.8,101,5800,23,29,16430,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,200,-1,95,109.1,188.8,68.9,55.5,2952,141,9.5,114,5400,23,28,16845,NaN
152,201,-1,95,109.1,188.8,68.8,55.5,3049,141,8.7,160,5300,19,25,19045,NaN
153,202,-1,95,109.1,188.8,68.9,55.5,3012,173,8.8,134,5500,18,23,21485,NaN
154,203,-1,95,109.1,188.8,68.9,55.5,3217,145,23.0,106,4800,26,27,22470,NaN
155,204,-1,95,109.1,188.8,68.9,55.5,3062,141,9.5,114,5400,19,25,22625,NaN

In [14]:
#from sklearn.model_selection import train_test_split

#train_set, test_set = train_test_split(df, test_size=0.35, random_state=42)
#train_set.head(5)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          156 non-null    int64
 1   symboling           156 non-null    int64
 2   normalized-losses   156 non-null    int64
 3    wheel-base         156 non-null    float64
 4    length             156 non-null    float64
 5    width              156 non-null    float64
 6    height             156 non-null    float64
 7    curb-weight        156 non-null    int64
 8    engine-size        156 non-null    int64
 9    compression-ratio  156 non-null    float64
 10   horsepower         156 non-null    int64
 11   peak-rpm           156 non-null    int64
 12   city-mpg           156 non-null    int64
 13   highway-mpg        156 non-null    int64
 14    price             156 non-null    int64
 15  Unnamed: 26         0 non-null      float64
dtypes: float64(6), int64(10)
memory usage: 19.6 KB

In [16]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(df, test_size=0.35, random_state=42)
train_set.head(5)

,Unnamed: 0,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Unnamed: 26
41,67,-1,93,110.0,190.9,70.3,56.5,3515,183,21.5,123,4350,22,25,25552,NaN
4,10,2,192,101.2,176.8,64.8,54.3,2395,108,8.8,101,5800,23,29,16430,NaN
32,56,3,150,95.3,169.0,65.7,49.6,2380,70,9.4,101,6000,17,23,11845,NaN
85,122,1,154,93.7,167.3,63.8,50.8,2191,98,9.4,68,5500,31,38,7609,NaN
122,166,1,168,94.5,168.7,64.0,52.6,2300,98,9.4,112,6600,26,29,9538,NaN

In [17]:
df.columns

Index(['Unnamed: 0', 'symboling', 'normalized-losses', ' wheel-base',
       ' length', ' width', ' height', ' curb-weight', ' engine-size',
       ' compression-ratio', ' horsepower', ' peak-rpm', ' city-mpg',
       ' highway-mpg', '  price', 'Unnamed: 26'],
      dtype='object')

In [18]:
Xs = ['normalized-losses', ' wheel-base', ' length', ' width', ' height',
       ' curb-weight', ' engine-size', ' compression-ratio', ' horsepower',
       ' peak-rpm', ' city-mpg', ' highway-mpg', '  price']
Ys = ['symboling']

In [19]:
train_Xs = train_set[Xs]
train_Ys = train_set[Ys]

test_Xs = test_set[Xs]
test_Ys = test_set[Ys]

In [20]:
def MAE(Ys_real, Ys_predict):
    Losses = np.abs(Ys_real - Ys_predict)
    m = len(Ys_real)
    cost_result = 1 / m * np.sum(Losses)
    return cost_result

In [21]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(train_Xs, train_Ys)
predictions = model.predict(train_Xs)
#print("coef:", model.coef_, "; intercept:", model.intercept_)
print("MAE train:", MAE(train_Ys, predictions))

MAE train: symboling    0.54416
dtype: float64

In [22]:
predictions = model.predict(test_Xs)
print("MAE test:", MAE(test_Ys, predictions))

MAE test: symboling    0.74368
dtype: float64